<p id="notice"><%= notice %></p>

<h1>Stuff For Sale!</h1>

<%= link_to 'New Product', new_product_path %>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <h1><%= product.name %></h1>
        <h1><%= product.color %></h1>
        <h1><%= image_tag("apple.jpg", class: "img-responsive") %></h1>
        <p><%= product.description %></p>
        <p><%= product.price %></p>
      </div><!-- /col -->
    <% end %>
  </div>
</div>