<div class="container show">

  <div class="row">
    <div class="col-xs-12 col-md-4">
        <img src="<%= @product.image_url %>" alt="<%= @product.name %>" class="img-responsive"/>
    </div>

    <div class="col-xs-12 col-md-8">

      <h1><%= @product.name %></h1>

      <p>
       <%= @product.description %>
      </p>

      <p>
        Colour:
        <%= @product.color %>
      </p>

      <p>
        Average Rating:
        <div class="rated" data-score="<%= @product.average_rating %>"></div>
      </p>

    </div>

  </div>

  <div class="comments">

    <h1>Comments:</h1>

    <div class="comment_show">
      <%= render 'comments' %>
    </div>

    <div class="submit-comment">
      <%= render 'new_comment' %>
    </div>

  </div>

  <div class="row" style="margin-top: 1%;">
    <div class="buttons">
      <%= link_to 'Edit', edit_product_path(@product), :class => 'btn btn-default' %>
      <%= link_to 'Back', products_path, :class => 'btn btn-default' %>
    </div>
  </div>

</div>