<!DOCTYPE html>
<html>
<head>
  <title>APP1</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navigation -->
<div class="container_nav">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#.navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <i><%= link_to "Galactic Apples", root_path, class: "navbar-brand" %></a></i>
      </div> <!--end navbar-header -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <%= form_tag("/products", method: "get", class: "navbar-form navbar-right") do %>
        <div class="form-group">
          <%= text_field_tag(:q) %>
          <%= submit_tag("Search", class: "btn btn-default") %>
          <% end %>
        </div>
      </div>
        <ul class="nav navbar-nav center">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Contact", static_pages_contact_path, class: "nav-link" %></li>
          <li><%= link_to "About", static_pages_about_path, class: "nav-link" %></li>
          <li><%= link_to "Products", products_path, class: "nav-link" %></li>
        </ul>
      </div> <!--end collapse -->
    </div> <!-- end nav container -->
  </nav><!-- end navbar -->
  <div class="sessionalert">
  <% if notice %>
  <p class="notice alert alert-info" role="alert"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert alert-danger" role="alert"><%= alert %></p>
  <% end %>
  </div>
</div><!-- end container -->

<%= yield %>
<div class="site-footer">
  <p>&copy; 2015 Sarah</p>
</div>


</body>
</html>
